@import url('https://fonts.googleapis.com/css?family=Rochester');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    height: 100vh;
    background: linear-gradient(135deg,#5BC0BE 10%, #fff);
}

#main-navigation ul li a{
    color: #fff;
    text-decoration: none;
    transition: 0.4s ease;
}

#main-navigation ul li a:hover {
    background: #5BC0BE;
}

#main-navigation .active {
    border-bottom: 1px solid #5BC0BE;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rochester', cursive;
}

p, span {
    font-family: 'Raleway', sans-serif;
}

#social a i {
    color: black;
    transition: 0.3s ease;
}

#social a i:hover {
    color: #144847;
    transform: rotate(20deg);
}

strong {
    text-decoration: underline;
}

.gdi a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid#ED5654;
}

.gdi a:hover {
    text-decoration: none;
    color: #ED5654;
    border: none;
}